.idea/
Analytics/__pycache__/format_data.cpython-36.pyc
Analytics/__pycache__/
Popups/__pycache__/
generated/
ResultsSummary.pdf
Objects/__pycache__/
ResultsSummary-2021-01-05.pdf
__pycache__/
App/tests/
App/face/
App/finger/
